body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  .parallax-container {
    height: 300px;
    background-image: url('Imagenes/paisaje.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  .owl-carousel .item {
    text-align: center;
    background: #4caf50;
    color: white;
    padding: 40px;
    margin: 10px;
  }
  
  .owl-nav .owl-prev, .owl-nav .owl-next {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1000;
  }
  .owl-nav .owl-prev {
    left: 930px;
  }

  .owl-nav .owl-next {
    right: 10px;
  }
  .slider {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }
  .whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .whatsapp-btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }