body {  
    font-family: Arial, sans-serif;  
    line-height: 1.6;  
    margin: 20px;  
}  


.red{
    color:brown
}



.tittle{
    color:blue;
}

.subTittle{
    color:rgb(233, 159, 21);
}


.pgreen{
    color: rgb(217, 245, 177);
}


.negrita{
    color: chartreuse;
}

.plightred{
    color:rgb(237, 157, 157);
}

.negrita2{
     color:rgb(147, 60, 60);
}

.pPink{
    color:rgb(191, 28, 206);
}



.plightgray{
    color:rgb(178, 154, 207);
}

.negrita3{
    color:rgb(128, 93, 170);
}